.page {
    //border-radius: 50px;
    .page-content {
        margin-top: 33px;
        margin-bottom: 30px;
        text-align: justify;
    }
}
.title {
    background-color: #f2f3f6;
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-top: 2rem;
    .breadcrumb {
        margin-bottom: 0;
        padding: 0 0 0;
        background-color: transparent;
        border: none;
        color: #696969;
        font-size: 12px;
        a {
            color: #696969;
            text-decoration: underline;
        }
        .breadcrumb-item.active {
            color: #696969;
        }
    }
        h1 {
            font-size: 40px;
            color: #1c3279;
            font-weight: 300;
        }
}