.container {
    margin-top: 30px;
}

.card-img {
    width: 100%;
    object-fit: cover;
    height: 160px;
}

.card-title {
    color: #1c3279;
    font-family: "Open sans";
}

h4 {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 100;
    float: right;
    bottom:0;
    right:0;
    margin-bottom: 0;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1d3279;
}
.card.mb-3 {
    padding:15px;
    background-color: #f7f7f7;
}
.card-text {
    text-align: justify;
}
.dates {
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 300;
}
.dates-in {
    padding-left: 30px;
}
.blue {
    background-color: #3391cf;
    padding: 3px;
    color: white;
}