<div class="main">

    <app-page-title activeLinkTitle="Новости" title="Архив новостей"></app-page-title>
    <div class="container">

        <!--                <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">-->
        <div class="card mb-3" *ngFor="let n of news | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img [src]="'https://androidios.kz:8000' + n.logo" class="card-img" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{n.created_at | date:'d MMM'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{n.name}}</h5>
                        <!--                        <div class="card-text" [innerHTML]="n?.content"></div>-->
                        <div class="card-text">{{n.short_description}}</div>
                    </div>
                    <h4 [routerLink]="'/home/news-page/' + n.slug" style="cursor: pointer">Подробнее &nbsp;&nbsp;&nbsp;&nbsp;></h4>
                </div>
            </div>
        </div>

        <!--            TODO: items.length-->
        <ngb-pagination
            class="d-flex justify-content-center"
            [(page)]="page"
            [pageSize]="pageSize"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            [collectionSize]="news?.length"
        ></ngb-pagination>

    </div>
</div>
