<form role="form" [formGroup]="form">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group">
                <label>Биография</label>
                <input class="form-control" formControlName="email">
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="form-group">
                <label>SEO заголовок</label>
                <input class="form-control" formControlName="email">
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="form-group">
                <label>SEO ключевые слова</label>
                <input class="form-control" formControlName="email">
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="form-group">
                <label>SEO описание</label>
                <input class="form-control" formControlName="email">
            </fieldset>
        </div>
    </div>

</form>
