@media (min-width: 768px){

    .col-md-12 {
        margin-top: 50px;
    }

    .row.first {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .img {
        margin-bottom: 0.75rem;
    }
}
