@media (max-width: 500px){
    .my.associates {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.container {
    margin-top: 50px;
}

.dates {
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 300;
}
.dates-in {
    padding-left: 30px;
}
.blue {
    background-color: #3391cf;
    padding: 3px;
    color: white;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-name {
    font-size: 18px;
    font-weight: 600;
    color: #6c7293;
    font-family: "Open Sans";
}

.event-description {
    font-size: 14px;
    color: #6c7293;
    font-weight: 300;
}

hr {
    border-top: 1px dashed #6c7293;
}

h4 {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 100;
    float: right;
    bottom:0;
    right:0;
    margin-bottom: 0;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1d3279;
}

@media (min-width: 992px) {
    .my.calendar {
        display: flex;
        //align-items: center;
        //justify-content: center;
        flex-direction: column;
    }
}

.main-block {
    border: 0 solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
}

.nebular-calendar {
    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #1c3279;
        font-weight: 600;
    }
}
:host ::ng-deep nb-card {
    width: 19rem !important;
    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
}

.my.associates {
    //padding-left: 22px;
}

.associates-content {
    //padding-left: 30px;
    //padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    color: #6c7293;
    height: 100%;
    width: 19rem;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    margin-left: auto;
    margin-right: auto;
    .event-description {
        font-size: 16px;
        font-weight: 600;
        font-family: "Open Sans";
    }
    article {
        //margin-bottom: 17px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 30px;
        border-left: thick solid transparent;
    }
    article:hover {
        cursor: pointer;
        border-left: thick solid #3391cf;
        background-color: #f8f8f8;
    }
}

.card-img {
    width: 100%;
    object-fit: cover;
    height: 130px;
    border-radius: calc(.25rem - 1px);
}

.card {
    border: none;
}


// ----------- loader
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.1);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 150px;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
