<div class="main">
    <div class="container">

        <div class="ratings">
            <div class="head">
                <h2>Рейтинги</h2>
            </div>
            <table class="table table-striped table-borderless">
                <thead>
                <tr>
                    <th scope="col">Ранг</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Клуб</th>
                    <th scope="col">Дисциплина</th>
                    <th scope="col">Уровень</th>
                    <th scope="col">Балы</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                <b>
                                    Алишер <br/>
                                    Жумахмет
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                <b>
                                    Алишер <br/>
                                    Жумахмет
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                <b>
                                    Алишер <br/>
                                    Жумахмет
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                <b>
                                    Алишер <br/>
                                    Жумахмет
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                <b>
                                    Алишер <br/>
                                    Жумахмет
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                <b>
                                    Алишер <br/>
                                    Жумахмет
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                <b>
                                    Алишер <br/>
                                    Жумахмет
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>

                </tbody>
            </table>

            <nav class="ng2-smart-pagination-nav">
                <ul class="ng2-smart-pagination pagination">
                    <li class="ng2-smart-page-item page-item disabled"><a
                        aria-label="First"
                        class="ng2-smart-page-link page-link"
                        href="#"><span
                        aria-hidden="true">«</span><span class="sr-only">First</span></a></li>
                    <li class="ng2-smart-page-item page-item disabled"><a
                        aria-label="Prev"
                        class="ng2-smart-page-link page-link page-link-prev"
                        href="#"><span
                        aria-hidden="true">&lt;</span><span class="sr-only">Prev</span></a></li><!--bindings={
          "ng-reflect-ng-for-of": "1,2,3"
        }-->
                    <li class="ng2-smart-page-item page-item active"><!--bindings={
          "ng-reflect-ng-if": "true"
        }--><span class="ng2-smart-page-link page-link">1 <span
                        class="sr-only">(current)</span></span><!--bindings={
          "ng-reflect-ng-if": "false"
        }--></li>
                    <li class="ng2-smart-page-item page-item"
                    ><!--bindings={
          "ng-reflect-ng-if": "false"
        }--><!--bindings={
          "ng-reflect-ng-if": "true"
        }--><a class="ng2-smart-page-link page-link" href="#">2</a></li>
                    <li class="ng2-smart-page-item page-item"
                    ><!--bindings={
          "ng-reflect-ng-if": "false"
        }--><!--bindings={
          "ng-reflect-ng-if": "true"
        }--><a class="ng2-smart-page-link page-link" href="#">3</a></li>
                    <li class="ng2-smart-page-item page-item"
                    ><a aria-label="Next"
                        class="ng2-smart-page-link page-link page-link-next" href="#"><span
                        aria-hidden="true">&gt;</span><span class="sr-only">Next</span></a></li>
                    <li class="ng2-smart-page-item page-item"
                    ><a aria-label="Last"
                        class="ng2-smart-page-link page-link" href="#"><span
                        aria-hidden="true">»</span><span class="sr-only">Last</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
