<div class="main">

    <app-page-title *ngIf="!id" activeLinkTitle="Команды" title="Команды"></app-page-title>
    <app-page-title *ngIf="id" activeLinkTitle="Команда" [title]="teams[0]?.name"></app-page-title>
    <div class="container">
        <ng-container *ngIf="id && teams.length">
            <div class="row">
                <div class="col-md-4 border">
                    <fieldset class="form-group" *ngIf="team.address">
                        <div class="row">
                            <label class="col-md-3 col-form-label">
                                Адрес:
                            </label>
                            <div class="col-md-9 col-form-label">
                                {{team.address}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="team.phone">
                        <div class="row">
                            <label class="col-md-3 col-form-label">
                                Телефон:
                            </label>
                            <div class="col-md-9 col-form-label">
                                {{team.phone}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="team.email">
                        <div class="row">
                            <label class="col-md-3 col-form-label">
                                Email:
                            </label>
                            <div class="col-md-9 col-form-label">
                                {{team.email}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="team.instagram">
                        <div class="row">
                            <label class="col-md-3 col-form-label">
                                Instagram:
                            </label>
                            <div class="col-md-9 col-form-label">
                                {{team.instagram}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="team.facebook">
                        <div class="row">
                            <label class="col-md-3 col-form-label">
                                FB:
                            </label>
                            <div class="col-md-9 col-form-label">
                                {{team.facebook}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="team.vk">
                        <div class="row">
                            <label class="col-md-3 col-form-label">
                                VK:
                            </label>
                            <div class="col-md-9 col-form-label">
                                {{team.vk}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="team.site">
                        <div class="row">
                            <label class="col-md-3 col-form-label">
                                {{team.site}}
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-8 google-map">
                    <app-google-map *ngIf="team" [places]="teams" (placeSelected)="teamSelected($event)"></app-google-map>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!id && teams.length">
            <app-google-map *ngIf="teams.length" [places]="teams" (placeSelected)="teamSelected($event)"></app-google-map>
        </ng-container>
    </div>
</div>
