//.container {
//    margin-top: 50px;
//    font-size: 13px;
//    margin-bottom: 50px;
//}

.container {
    font-size: 14px;
    padding:30px;
}

.border {
    background-color: #f2f3f6;
    border-color: black;
}

fieldset label {
    font-weight: 600;
    font-family: "Open Sans";
    color:#1c3279;
}

.google-map {
    padding-left: 0;
}
