//.container {
//    margin-top: 50px;
//    font-size: 13px;
//    margin-bottom: 50px;
//}

.container {
    font-size: 13px;
}

.border {
    background-color: white;
    border-color: black;
}

fieldset label {
    font-weight: 600;
}

.google-map {
    padding-left: 0;
}
