<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left pb-3">

      <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" *ngIf="menu?.length && menu[0]">
            <h6 class="text-uppercase mb-4 font-weight-bold heading">{{menu[0].name}}</h6>
            <p class="p-subheading" *ngFor="let m of menu[0].childs">
                <a [routerLink]="'/home/static-page/' + m.static_page" class="subheading">{{m.name}}</a>
            </p>
            <!--        <p>-->
            <!--          <a href="#!" class="subheading">MDWordPress</a>-->
            <!--        </p>-->
        </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
        <ng-container *ngIf="1; let index">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" *ngIf="menu?.length && menu[index]">
                <ng-container *ngIf="1; let index">
                    <ng-container *ngIf="menu?.length && menu[index]">
                        <h6 *ngIf="menu[index].static_page" [routerLink]="'/home/static-page/' + menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <h6 *ngIf="!menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <p class="p-subheading" *ngFor="let m of menu[index].childs">
                            <a [routerLink]="'/home/static-page/' + m.static_page" class="subheading">{{m.name}}</a>
                        </p>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="2; let index">
                    <ng-container *ngIf="menu?.length && menu[index]">
                        <h6 *ngIf="menu[index].static_page" [routerLink]="'/home/static-page/' + menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <h6 *ngIf="!menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <p class="p-subheading" *ngFor="let m of menu[index].childs">
                            <a [routerLink]="'/home/static-page/' + m.static_page" class="subheading">{{m.name}}</a>
                        </p>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>

        <hr class="w-100 clearfix d-md-none">

        <ng-container *ngIf="3; let index">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 vertical-line" *ngIf="menu?.length && menu[index]">
                <ng-container *ngIf="1; let index">
                    <ng-container *ngIf="menu?.length && menu[index]">
                        <h6 *ngIf="menu[index].static_page" [routerLink]="'/home/static-page/' + menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <h6 *ngIf="!menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <p class="p-subheading" *ngFor="let m of menu[index].childs">
                            <a [routerLink]="'/home/static-page/' + m.static_page" class="subheading">{{m.name}}</a>
                        </p>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="4; let index">
                    <ng-container *ngIf="menu?.length && menu[index]">
                        <h6 *ngIf="menu[index].static_page" [routerLink]="'/home/static-page/' + menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <h6 *ngIf="!menu[index].static_page" class="text-uppercase mb-4 font-weight-bold heading">{{menu[index].name}}</h6>
                        <p class="p-subheading-last" *ngFor="let m of menu[index].childs">
                            <a [routerLink]="'/home/static-page/' + m.static_page" class="subheading">{{m.name}}</a>
                        </p>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 copyright-block">
        <p></p>
        <p></p>
        <p></p>
        <p class="copyright">Copyright © 2019</p>
        <p class="copyright-description">Федерация спортивного лазания г. Алматы</p>

        <div>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
<!--                <i class="fab fa-facebook-f"></i>-->
                <img src="/assets/home/f.png" alt="...">
              </a>
            </li>
            <li class="list-inline-item ins">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
<!--                <i class="fab fa-instagram"></i>-->
                <img src="/assets/home/ins.png" alt="...">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
<!--                <i class="fab fa-youtube"></i>-->
                <img src="/assets/home/youtube.png" alt="...">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
<!--                <i class="fab fa-"></i>-->
                <img src="/assets/home/vk.png" alt="...">
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
