.vertical-line {
  border-right: 1px dashed;
  border-color: #6170a1;
}

//footer {
//  border-radius: 50px 50px 0 0;
//  background: white;
//}

.main {
    background: #1d3279;
    color: white;
}

.heading {
  font-size: 16px;
  //color: #1d3279;
    font-weight: 600;
    font-family: "Open Sans";
}

.subheading {
  font-size: 14px;
  color: #bec5dd;
}

.copyright-block {
  padding-left: 70px;
}

.copyright {
  font-size: 18px;
  font-weight: 100;
  font-family: "Open Sans";
  margin-top: 60px;
}

.copyright-description {
  font-size: 14px;
  font-weight: 100;
  font-family: "Open Sans";
  margin-top: 25px;
}

.ins {
  margin: 0;
}

i.fa.fa-instagram {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.7em 0.8em;
    background-color: #3391cf;
    color: white;

}

.list-inline {
  margin-left: -10px;
  margin-top: 35px;
}

.mb-4 {
    margin-bottom: 1rem !important;
    margin-top: 1.5rem;
}

.page-footer {
padding-bottom: 2.5rem;
}

.p-subheading {
    margin-bottom: 0;
}

@media (max-width: 500px){
    .copyright-block {
        padding-left: 0 !important;
    }
}
