.vertical-line {
  border-right: 1px solid;
  border-color: #1c327a;
}

footer {
  border-radius: 50px 50px 0 0;
  background: white;
}

.heading {
  font-size: 13px;
  color: #1d3279;
}

.subheading {
  font-size: 12px;
  color: #76777d;
}

.copyright-block {
  padding-left: 70px;
}

.copyright {
  font-size: 17px;
}

.copyright-description {
  font-size: 12px;
}

.ins {
  margin: 0;
}

.list-inline {
  margin-left: -10px;
}
