<div class="associates">
  <h2>Наши партнеры</h2>

  <div class="row">
    <div class="col-md-2">
      <img src="/assets/home/par1.png" class="card-img" alt="...">
    </div>
    <div class="col-md-2">
      <img src="/assets/home/par2.png" class="card-img" alt="...">
    </div>
    <div class="col-md-2">
      <img src="/assets/home/par3.png" class="card-img" alt="...">
    </div>
    <div class="col-md-2">
      <img src="/assets/home/par4.png" class="card-img" alt="...">
    </div>
    <div class="col-md-2">
      <img src="/assets/home/par5.png" class="card-img" alt="...">
    </div>
    <div class="col-md-2">
      <img src="/assets/home/par6.png" class="card-img" alt="...">
    </div>
  </div>
</div>
