h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #1c3279;
  margin-bottom: 40px;
    font-weight: 300;
}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.associates {
  margin-bottom: 72px;
}
