<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            Новый пользователь
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Пользователь</li>
        </ol>
    </div>
</div>


<form role="form" [formGroup]="form">

    <fieldset class="form-group">
        <label>Email</label>
        <input class="form-control" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" formControlName="email">
        <div class="invalid-feedback" *ngIf="emailError">
            {{emailError}}
        </div>
    </fieldset>
    <div class="form-group">
        <label>Роль</label>
        <select class="form-control" [ngClass]="{'is-invalid': form.get('role').touched && form.get('role').invalid}" formControlName="role">
            <option></option>
            <option [value]="m.name" *ngFor="let m of Roles.list()">{{m.name}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="roleError">
            {{roleError}}
        </div>
    </div>


    <button type="submit" class="btn btn-secondary" (click)="submit(form)">Добавить нового пользователя</button>
</form>
