<div class="main">

    <form role="form" [formGroup]="form">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset class="form-group">
                            <div class="row">
                                <label class="col-md-3 col-form-label">
                                    Разряд
                                </label>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
