.main {
    background-color: #3391cf;
    margin-top: 40px;
}

@media (max-width: 992px){
    .dropdown-menu.first {
        display: block;
    }
    .dropdown-menu.second {
        display: block;
    }
    .dropdown-menu.third {
        display: block;
    }
}

.dropdown:hover .dropdown-menu.first {
  display: block;
}
.dropdown.second:hover .dropdown-menu.second {
  display: block;
}
.dropdown.third:hover .dropdown-menu.third {
  display: block;
}

.dropdown-menu.second {
    background-color: #dedede;
    border-radius: 0 10px 10px 0;
    border:none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    .dropdown-item {
        padding-right: 60px;
    }
}

.nav-item.dropdown.second {
  margin: 0;
  background: #ffffff;
  color: #1c3279;
}

.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
    font-size: 1em;
}
 .dropdown-menu.first {
  border-top: 5px solid #1d327a;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin:0 20px;
  border-width: 0;
}

.first .dropdown-item {
  background: transparent;
  color: #1c3279;
  padding: 0.5rem 2rem;
}
.dropdown-menu.second a.dropdown-item {
  background: #dedede;
  color: #4c4c4c;
}


.dropdown-menu > li a:hover,
.dropdown-menu > li.show {

}
.dropdown-menu > li.show > a{

}

@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin:0;
    border-width: 1px;
  }
}



.justify-content-center {
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  padding: 1rem 0rem;
}

.nav-item {
  //text-transform: uppercase;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  .nav-link {
    color: #deedf7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  .nav-link:hover {
    color: #ffffff;
  }
}

.nav-item.active {
  .nav-link {
    color: #1c3279;
  }
}
