.container {
    margin-top: 50px;
    font-size: 13px;
    margin-bottom: 50px;
}
input, textarea {
    border-radius: 0;
}

.images {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-bottom: -10px;
    margin-right: 30px;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: -10px;
}

.circular--landscape img {
    width: auto;
    height: 100%;
    //margin-left: -10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button.upload-file {
    margin-left: 30px;
}

button.blue-button {
    vertical-align: top;
    margin-top: 7px;
    background-color: #3391cf;
    text-transform: uppercase;
    color: white;
    padding: 3px 14px 3px 15px;
}

button.blue-button.glav {
    font-size: 19px;
    padding: 7px 40px 7px 40px;
    font-weight: 300;
}

fieldset label {
    font-weight: 600;
}

.semibold {
    font-weight: 600;
}

fieldset input, fieldset textarea, .font13 {
    font-size: 13px;
}
