.title {
    background-color: #f2f3f6;
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-top: 2rem;
    .breadcrumb {
        margin-bottom: 0;
        padding: 0 0 0;
        background-color: transparent;
        border: none;
        color: #696969;
        font-size: 12px;
        a {
            color: #696969;
            text-decoration: underline;
        }
        .breadcrumb-item.active {
            color: #696969;
        }
    }
    .head {
        h2 {
            font-size: 40px;
            color: #1c3279;
            font-weight: 300;
        }
    }
}
