<div class="title">
    <div class="container">
        <nav aria-label="breadcrumb" *ngIf="activeLinkTitle">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{activeLinkTitle}}</li>
            </ol>
        </nav>
        <div class="head">
            <h2>{{title}} <a *ngIf="showLogout" (click)="onLoggedout()" style="color: #696969;text-decoration: underline;font-size: 12px;cursor: pointer">Выйти</a></h2>
        </div>
    </div>
</div>
