.container {
    margin-top: 30px;
}

.dates {
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 300;
}
.dates-in {
    padding-left: 30px;
}
.blue {
    background-color: #3391cf;
    padding: 3px;
    color: white;
}

.row {
    //margin-top: 20px;
    //margin-bottom: 20px;
}

.event-name {
    font-size: 12px;
    font-weight: 600;
    color: #6c7293;
}

.event-description {
    font-size: 13px;
    color: #6c7293;
    font-weight: 300;
}

hr {
    border-top: 1px dashed #6c7293;
}

.card-title {
    color: #1c3279;
}

h4 {
    font-size: 13px;
    font-weight: 600;
    //float: right;
    position:absolute;
    bottom: 10px;
    right:0;
    margin-bottom: 0;
    padding-right: 12px;
    color: #6c7293;
}
