<div class="main">

    <app-page-title activeLinkTitle="Профиль" [title]="user.last_name + ' ' + user.first_name"></app-page-title>
    <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <img [src]="'https://androidios.kz:8000' + user.avatar" class="mr-3" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Дата Рождения:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        21.02.2002
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Звания:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        3ТРК, Директор SKALA
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Команды:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a href="https://www.thesitewizard.com/" target="_blank">СЦ "SKALA"</a> <br/>
                                        <a href="https://www.thesitewizard.com/" target="_blank">СДЮШОр #17</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Instagram:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a href="https://www.instagram.com/nigmatulin/" target="_blank">@nigmatulin</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        VK:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a href="https://vk.com/nigmatulin/" target="_blank">vk.com/nigmatulin</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        FB:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a href="https://www.facebook.com/nigmatulin/" target="_blank">facebook.com/nigmatulin</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <button type="submit" class="blue-button glav">Спортсмены</button>

                    <h2>
                        Топ 5 результатов спортсменов
                    </h2>

                    <div class="results">
                        <a href="#">Алтынбеков Б.А.</a> 2 место на Чемпионате Азии 2015 год
                        <br/>
                        <a href="#">Алтынбеков Б.А.</a> 2 место на Чемпионате Азии 2015 год
                        <br/>
                        <a href="#">Алтынбеков Б.А.</a> 2 место на Чемпионате Азии 2015 год
                        <br/>
                        <a href="#">Алтынбеков Б.А.</a> 2 место на Чемпионате Азии 2015 год
                    </div>
                </div>


            </div>


    </div>

</div>
