<div class="main">

    <app-page-title activeLinkTitle="Профиль" [title]="user.last_name + ' ' + user.first_name"></app-page-title>
    <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <img [src]="'https://androidios.kz:8000' + user.avatar" class="mr-3" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Дата Рождения:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        {{user.date_of_birth}}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Звания:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        {{user.level}}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Команды:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a href="" target="_blank" *ngFor="let c of user.clubs">
                                            {{c.name}}
                                        </a>
                                        <br/>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        Instagram:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a [href]="user.instagram" target="_blank">{{user.instagram}}</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        VK:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a [href]="user.vk" target="_blank">{{user.vk}}</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">
                                        FB:
                                    </label>
                                    <div class="col-md-9 col-form-label">
                                        <a [href]="user.facebook" target="_blank">{{user.facebook}}</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    {{user.biography}}
                    <br/>
                    <br/>
                    <br/>

<!--                    <button type="submit" class="blue-button glav">Спортсмены</button>-->

                    <h2>
                        Топ 5
                        <label *ngIf="user.top_students?.length">результатов:</label>
                        <label *ngIf="!user.top_students?.length">результатов спортсменов:</label>
                    </h2>

                    <div class="results" *ngIf="user.top_students?.length">
                        <ng-container *ngFor="let s of user.top_students">
                            <label>
                                {{s.name}}
                            </label>
                            <br/>
                        </ng-container>
                    </div>

                    <div class="results" *ngIf="!user.top_students?.length">
                        <ng-container *ngFor="let s of user?.top_results">
                            <label>
                                {{s.name}}
                            </label>
                            <br/>
                        </ng-container>
                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let u of user.images">
                            <img [src]="'https://androidios.kz:8000' + u" class="mr-3" alt="...">
                        </div>
                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-md-6" *ngFor="let u of user.youtube_links">
                            <iframe [src]="u"></iframe>
                        </div>
                    </div>
                </div>


            </div>


    </div>

</div>
